body {
    background-color: #F5F5F5;
}

.nav li {
    float: left;
    list-style-type: none;
}

.nav li a:hover {
    background: rgb(211, 199, 199);
}

.nav li a {
    background-color: #F5F5F5;
    border: solid 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 160px;
    list-style: none;
    display: block;
    box-shadow: 2px 7px 4px -4px rgb(0, 0, 0);
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.cuadrado {
    width: 300px;
    height: 200px;
    margin: 5px;
    background-color: #034748;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    position: absolute;
    border-radius: 30px;
    top: 40%;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: table-cell;
    text-align: center;
}

.lista {
    width: 300px;
    height: 200px;
    margin: 8px;
    background-color: #034748;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    border-radius: 30px;
    top: 40%;
    right: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    justify-content: center;
    align-items: center;
    display: table-cell;
    text-align: center;
}

.lissta {
    width: 100%;
    height: 100px;
    margin: 8px;
    background-color: #034748;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    border-radius: 30px;
    top: 40%;
    right: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    justify-content: center;
}

.p2 {
    background-color: #F5F5F5;
    display: block;
    top: 40%;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p3 {
    background-color: #F5F5F5;
    display: block;
    top: 40%;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}